@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap");
:root {
  font-family: "Montserrat", sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-1: #1e0044;
  --font--xs: 0.875rem; /* 14px */
  --font--sm: 1rem; /* 16px */
  --font--sm2: 1.5rem; /* 24px */
  --font--md: 2rem; /* 32px */
  --font--lg: 2.5rem; /* 40px */
  --font--xxl: 6.25rem; /* 100px */
  --bg-2: #e9deff;
  --bg-3: #0b001a;
  --third: #2c4f51;
  --text: #fff;
  --padding-md: 2.25rem; /* 36px */
  --padding-lg: 2.5rem; /* 40px */
  --border-lg: 2.5rem;
  --border-sm: 1.25rem;
}

.georgia {
  font-family: Georgia, serif;
  color: #8338ec;
}

.font-24 {
  font-size: 24px;
}

.font-16 {
  font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-3);
  color: var(--text);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

header {
  padding: 20px;
}
.nav__item {
  padding: 12px 12px;
  display: flex;
  gap: 4px;
}
.d-right {
  padding: 12px 14px;
  margin: 0 0 0 auto;
  border: 1px solid var(--bg-2);
  background-color: #250053;
  border-radius: 20px;
  box-shadow: 0px 0px 3.14815px 0px rgba(162, 45, 247, 0.1),
    0px 0px 6.51852px 0px rgba(162, 45, 247, 0.1),
    0px 0px 13px 0px rgba(162, 45, 247, 0.1),
    0px 0px 25.48148px 0px rgba(162, 45, 247, 0.1),
    0px 0px 46.85185px 0px rgba(162, 45, 247, 0.1),
    0px 0px 19px 9px rgba(162, 45, 247, 0.1);
}

.nav {
  padding: 0 36px;
}

.nav__icon {
  display: inline-block;
  text-align: center;
}

.nav__list {
  gap: 24px;
}

.nav__link {
  font-size: var(--font--xs);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero {
  background-color: #1e0044;
}
.hero__content {
  padding: 2.5em;
}

.hero__heading {
  font-size: var(--font--xxl);
  font-weight: 500;
  padding: 0.7em 0 0.4em 0;
  line-height: 1;
}

section {
  padding: 20px;
}

.pt-60 {
  padding-block-start: 60px;
}
.jsp {
  justify-content: space-between;
}

.hero__para {
  font-size: var(--font--sm2);
  font-weight: 400;
}

.hero__footer-para {
  align-self: flex-end;
}

.hero__footer img {
  width: 106px;
  height: 106px;
}

/*page 2 */
article {
  padding: 36px;
  background: linear-gradient(93deg, #9e2df6 10.4%, #b923ff 101.06%), #e9deff;
}

h3 {
  font-size: var(--font--md);
  font-weight: 500;
}

.desc {
  padding: 40px 0;
}

.p-16 {
  padding-top: 1rem;
}

.ptb-16 {
  padding: 1rem 0;
}

/*utility classes */

.bg-light {
  background-color: var(--bg-2);
  color: #000;
}

.br-20 {
  border-radius: var(--border-sm);
}

.br-40 {
  border-radius: var(--border-lg);
}

.center {
  text-align: center;
}

.bg-primary {
  background-color: var(--bg-1);
  padding: 40px;
}

.gap-24 {
  gap: 24px;
}
.flex-1 {
  flex: 1;
}

.gap-0 {
  gap: 0.5em;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.i {
  font-style: italic;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.font-50 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
}
.f-row {
  display: flex;
  flex-direction: row;
}

.font-14 {
  font-size: 14px;
  font-weight: 400;
}

.upper {
  text-transform: uppercase;
}

.p-40 {
  padding: 40px;
}

.copy {
  padding-top: 3.75rem;
}

.a-end {
  align-self: flex-end;
}
.lens {
  height: 520px;
  width: 660px;
}

.image-bar {
  margin-top: 24px;
  gap: -20px;
  padding: 36px;
  background-color: #17181f;
  border-radius: 16px;
}

.image-bar img {
  height: 68px;
  width: 68px;
}

.avatar + .avatar {
  margin: 0 -12px;
}

.f-center {
  align-items: center;
  justify-content: center;
}

.page3 img {
  height: 136px;
  width: 136px;
}

.span_button {
  border: 1px solid #fff;
  padding: 5.9px 11.8px;
}
.span_button-dark {
  border: 1px solid #000;
  padding: 0.398em 0.797em;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Path: Navbar.css */
